body {
    font-size: 15px;
    background-color: rgb(216, 213, 213);
}
html {
    font-size: 15px;
}
.nav-container {
    display: flex;
    flex-direction: row;

}

.nav-links-container {
    display: flex;
    flex-direction: row;
    
}
.nav-links {
    margin: 20px;

}

.nav-links a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
@media screen and (max-width: 590px) {
    .nav-contents {
        
        flex-direction: column;
        align-items: center;
    }
    
}