body {
  font-size: 15px;
  min-height: 100vh;
  background-color: rgb(186, 180, 180);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 1.2;
}

html {
  font-size: 15px;
}

header {
  top: 0%;
  height: 50px;
  width: 100%;
  display: flex;
 
}

.nav-container {
  display: flex;
  flex-direction: row;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
}
.nav-links {
  margin: 20px;
}

.nav-links a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}
@media screen and (max-width: 590px) {
  .nav-contents {
    flex-direction: column;
    align-items: center;
  }
}

.banner {
  background-image: url(../assets/images/1H-ecosys-background-pattern-full-width-fade-to-white-blue@2x.png);
  background-position: center;
  background-size: cover;
  height: 200px;
  padding-top: 100px;
  
  
}

.title {
  font-size: 50px;
  font-weight: 400;
  color: white;
  letter-spacing: 5px;
  margin: 0;
  text-align: center;
}
hr{
  border-style: dashed;
  border-color: white;
  
}


