/* header start */
header {
  top: 0%;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-width: 3px;
  border-radius: 2px;
  background: linear-gradient(0.25turn, #ffffff, #c5e4f16f, #98b4c0, #3f87a68b);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
}
.nav-links {
  margin: 20px;
}

.nav-links a {
  color: black;
  font-size: 18px;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}

.banner {
  background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  padding-top: 100px;
  margin-bottom: 0px;
}

.title {
  font-size: 50px;
  font-weight: 400;
  color: black;
  letter-spacing: 5px;
  margin: 0;
  text-align: center;
  font-style: italic;
  font-family: fantasy;
}

/* header end */
hr {
  border-style: dashed;
  border-color: white;
}
/* main about me start */

@media screen and (max-width: 600px) {
  .infodiv {
    flex-direction: column;
    align-items: center;
  }
}
.myinfo {
  width: 100%;
}
.mypic {
  height: 700px;
  width: 400px;
}

.aboutinfo {
  width: 500px;
  margin-left: 170px;
}

.infodiv {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.aboutinfo h2 {
  text-transform: capitalize;
  font-size: 50px;
  margin-bottom: 20px;
  color: black;
}

.aboutinfo h5 {
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-size: 25px;
}
.aboutinfo p {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 45px;
  line-height: 30px;
}
  @media screen and (max-width: 600px) {
    .aboutinfo {
      flex-direction: column;
      align-items: center;
    }
  }


span {
  color: blue;
}

.javapic {
  height: 200px;
  width: 400px;
}
/* main about me end */

body {
  font-size: 15px;
  min-height: 100vh;
  background-color: rgba(0, 255, 255, 0.066);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 1.2;

  margin: 0;
}

html {
  font-size: 15px;
}

/* project cards start */

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transform: all 300ms ease-in-out;
}

@media screen and (max-width: 600px) {
  .projects {
    flex-direction: column;
    align-items: center;
  }
}

.projects-1-cards:hover {
 
  box-shadow: 3px 3px red, -1em 0 .4em olive;
}

.projects-cards:hover {
  box-shadow: 0px 20px 50px;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}
.main-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.project-title {
  text-align: center;
  font-size: 50px;
  margin-top: 120px;
}

.projects-cards {
  border-width: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f1efec);
  margin-left: 20px;
  margin-top: 60px;
  height: 350px;
  width: 250px;
}
.projects-1-cards {
  border-width: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f1efec);
  margin-left: 20px;
  margin-top: 40px;
  height: 320px;
  width: 530px;
}
.project-work {
  text-align: center;
}

.card-image {
  height: 150px;
  width: 250px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.card-image-1 {
  height: 180px;
  width: 530px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* porject card end */

/* footer start */

.footer-section {
  text-align: center;
  text-decoration: none;
}

.contact-me {
  text-align: center;
  margin-top: 30px;
}
.bottom {
  text-align: center;
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
  margin-top: 50px;
}
.footer {
  margin-top: 30px;
}
